.container-fluid {
    padding:0px !important;
}
#submit {
    top:0px;
    left:0%;
    border-radius:6px;
    background-color: #003380;
    border-color: #003380;
}
/* .control-label {
    margin-bottom:5%;
} */
.arrow-first {
    position:absolute;
    top:80%;
    left:58%;
    z-index:1;
}

.landing {
    background-image:url("eight_horns.png");
}
.third {
    margin-bottom:5%;
}
legend {
    margin-left: 15%;
    width:50%;
    margin-bottom:4%;
}
.navbar {
    font-size: 20px;
    border-radius:0px !important;
    margin-bottom: 0px !important;
    border-bottom:2px solid #666666 !important;
    text-decoration: none !important;
    font-family: 'Pacifico', cursive;
    color:#666666 !important;
}
#submit {
    margin-bottom:5%;
}
.polaroid {
   
    background-image:url("maryclairephoto.dkengagement-0161.jpg");
    height:550px;
    margin-top:5%;
    background-repeat:no-repeat;
    background-size: cover; 
    border: 15px solid #fff;
    border-bottom: 53px solid #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.polaroid p {
    top:92%;
    left:1%;
    position: absolute;
    text-align: center;
    width:100%;
}
.us {
    position:relative;
    top:0%;
    margin-top:1%;
    font-family: 'Pacifico', cursive;
    font-size: 64px;
    color:#003380;
    text-align: center;
}
.name {
    border-bottom:2px solid #595959;
    position:relative;
    margin-top: 2%;
    top:5px;
    left:0px;
    font-size: 64px;
    /* font-family: 'Cookie', cursive; */
    font-family: 'Sacramento', cursive;
    color:#003380;
    text-align: center;
    /* text-shadow: 1px 1px #0052cc; */
}

.leading {
    position:relative;
    top:5px;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    color:#003380;
    text-align: center;
}

.date {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color:#003380;
    text-align: center;
}

/* countdown clock */
#clockdiv {
    position:relative;
    display:inline;
    top:-145px;
    left:70%;
    color:#003380;
    font-size:26px;
    font-family: 'Pacifico', cursive;

}

.names {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    margin-left: 7%;
    margin-top:1%;
    margin-bottom:1%;
}
.line {
    border-bottom: 2px solid #999;
    margin-top:1%;
    width:100%;
}
/* 
hr {
    border-color: blue -moz-use-text-color #FFFFFF;
    border-style: solid none;
    border-width: 20px 0;
} */
.btn {
    position:relative;
    float:right;
    left:75%;
    top:-167px;
    margin-right:10px;
}
.line {
    width:50% !important;
    color:#666;
    position:absolute;

}
.rsvp {
    margin-bottom:5%;
    margin-top:0%;
    /* background-image:url("eight_horns.png"); */
    border-top:2px solid #999;
    width:100%;
    padding-top: 2%;
}
.rsvp1 {
    text-align: left;
    font-size:30px;
    font-family: 'Roboto', sans-serif;
}
.rsvp2 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: left;
}
.flowers {
    position:absolute;
    top:0%;
    left:90%;
}
.hotel {
    background-image:url("eight_horns.png");
    padding-top:40px;
    border-top: 2px solid #999;
    width:100%;
    font-family: 'Pacifico', cursive;
    font-size: 38px;

    padding-bottom:5%;

}
.hotel1 {
    font-size:30;
    font-family: 'Roboto', sans-serif;
}
.hotel2 {
    width:100%;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: left;
}

.hotel-directions {
    border:3px solid #595959;
    margin-top: 6%;
    margin-right: 3%;
    border-radius:18px;
    height: 200px;
    width: 284px;
    position: relative;
    filter: drop-shadow(0px 3px 5px #666);
}
.hotel-map {
    border:3px solid #595959;
    margin-top: 6%;
    border-radius:18px;
    height: 200px;
    width: 284px;
    position: relative;
    filter: drop-shadow(0px 3px 5px #666);
}

.gallery {
    padding-top:40px;
    border-top: 2px solid #999;
    width:100%;
    margin-bottom:0%;
}
#first {
    /* text-decoration: underline; */
    text-align: left;
    margin-top:2%;
    font-family: 'Pacifico', cursive !important;
    font-size: 40px;
}
.second {
    border-bottom: 2px solid #595959;
    width: 40%;
    text-align: left;
    font-size:30px;
    font-family: 'Roboto', sans-serif;
}
.third {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: left;
}
.us2 {
    border-radius:18px;
    height: 200px;
    width: 284px;
    position: relative;
    margin-top: 5%;
    margin-bottom:5%;
    margin-right:1%;
    filter: drop-shadow(0px 3px 5px #666);
}

.directions {
    background-image:url("eight_horns.png");
    padding-top:40px;
    border-top: 2px solid #999;
    width:100%;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    padding-bottom: 4%;
}

.directions2 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: left;
}
.map-directions {
    border-radius:18px;
    height: 200px;
    width: 284px;
    position: relative;
    filter: drop-shadow(0px 3px 5px #666);
}
.venue-directions {
    margin-right: 5%;
    border-radius:18px;
    height: 200px;
    width: 284px;
    position: relative;
    filter: drop-shadow(0px 3px 5px #666);
}
.registry {
    padding-top:40px;
    border-top: 2px solid #999;
    width:100%;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    text-align: left;
}
.registry1 {
    font-size:30;
    font-family: 'Roboto', sans-serif;
}
.registry2 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: left;
    margin-left: 24%;
    width: 36%;
}
.registry-logo {
    border:2px solid #666666;
    border-radius:10px;
    filter: drop-shadow(0px 3px 5px #666);
    height: 100px;
    width: 184px;
}

.thanks {
    background-image:url("eight_horns.png");
    text-decoration: underline;
    padding-top:40px;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    padding-bottom: 4%;
    width:100%;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    text-align: center; 
}
.thanks1 {
    font-size:30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

footer {
    text-align: left;
    background-color:#d9d9d9;
    color:#000;
}

